.App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

.sidebar{
  height: 100%;
  width: 300px;
  background-color: #2f4050;
}
.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row{
  width: 100%;
  height: 50px;
  background-color: #2f4050;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS';
}

.SidebarList .row:hover{
  background-color: blue;
  cursor:pointer;
}
.SidebarList #active{
  background-color: #293846;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title{
  flex: 70%;
}